*,
ul,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

img[src$=".jpg"],
img[src$=".png"] {
  border-radius: 5px;
}
