.header-bg {
  background: var(--cor-12);
}
.header {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}
.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  padding: 15px 10px;
  display: inline-block;
  position: relative;
}
.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background: var(--cor-0);
  margin-top: 2px;
  transition: 0.5s;
  position: absolute;
}
.header-menu a:hover::after,
.header-menu a.ativo::after {
  width: 80%;
}

@media (max-width: 800px) {
  .header {
    font-size: 0.875rem;
  }
  .header-menu {
    gap: 20px;
  }
  .header a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header {
    justify-content: center;
  }
  .header-menu a {
    background: var(--cor-11);
    border-radius: 4px;
    padding: 10px 20px;
  }
  .header-menu a:hover,
  .header-menu a.ativo {
    background: var(--cor-10);
  }
}

@media (max-width: 400px) {
  .header-menu a {
    padding: 5px 10px;
  }
}
