.introducao-bg {
  background: var(--cor-12);
}

.introducao img {
  margin-bottom: -120px;
  /* height: 100%; */
  object-fit: cover;
}
.introducao {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

.introducao-descricao p {
  margin: 50px 0;
}

@media (min-width: 1200px) {
  .depoimento img {
    max-height: 520px;
  }
}
@media (max-width: 1000px) {
  .introducao img {
    margin-bottom: -50px;
  }
}
@media (max-width: 850px) {
  .introducao {
    grid-template-columns: 1fr;
  }
  .introducao img {
    height: 300px;
    width: 100%;
  }
  .introducao img {
    margin-bottom: -80px;
  }
}
