.vantagens-bg {
  background: var(--cor-12);
}

.vantagens {
  padding: 60px 0;
}
.vantagens h2 {
  margin-bottom: 60px;
}
.vantagens-item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
  gap: 40px 80px;
}
.vantagens h3,
.vantagens img {
  margin: 8px 0;
}

@media (max-width: 1250px) {
  .vantagens {
    margin: 0px 40px;
  }
}

/* @media (max-width: 900px) {
  .vantagens-item {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 700px) {
  .vantagens-item {
    grid-template-columns: 1fr;
  }
} */
